*
!*/

!/src/**/*.h
!/src/**/*.c
!/CMakeLists.txt

!/tsx/**/*.tsx
!/tsx/**/*.css
!/package.json
!/tsconfig.json
!/server.js
!/webpack.config.js

!/docs/**/*.js
!/docs/**/*.css
!/docs/**/*.html


!.gitignore
!*/.gitignore

/cmake-*
